.flexContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexContainer--vertical {
    @extend .flexContainer;
}

.flexContainer > * {
    padding: 5px;
    margin-right: 0px;
    width: fit-content;
}

.flexContainer > *:last-child {
    margin-right: 0px;
}

.flexContainerVertical > * {
    padding: 5px;
    margin-bottom: 0px;
    width: fit-content;
}

.flexContainerVertical > *:last-child {
    margin-bottom: 0px;
}