.flexContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.flexContainer > * {
    padding: 5px;
    margin-left: 0px;
    width: fit-content;
}