@use "flex";
@use "pages";
@use "create_question";

body {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    background-color: beige;
}

div {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}